[Unit]
Description=Log rotation for logs in /var/lib/docker/containers

[Timer]
# Every ten minutes
OnCalendar=*:0/10
Persistent=true

[Install]
WantedBy=multi-user.target