[Unit]
Description=Run docker-healthcheck once

[Service]
Type=oneshot
ExecStart=/opt/netsil/latest/bin/docker-healthcheck

[Install]
WantedBy=multi-user.target
