[Unit]
Description=Run docker-cleanup.service daily at 8 AM

[Timer]
# OnBootSec=10min
# OnUnitActiveSec=1d
# Daily at 8am
OnCalendar=*-*-* 08:00:00
Persistent=True
Unit=docker-cleanup.service