[Unit]
Description=Zookeeper Health checker
After=dcos-exhibitor.service

[Service]
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/bin/python /opt/netsil/latest/bin/zk-health-checker.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target