{
  "id": "{{ backups.app_id }}",
  "container": {
      "type": "DOCKER",
      "volumes": [
        {
          "hostPath": "/var/log/netsil",
          "containerPath": "/var/log/netsil",
          "mode": "RW"
        }
      ],
      "docker": {
          "network": "BRIDGE",
          "image": "{{ uri_namespace }}/backups:{{ netsil_service_tag }}",
          "forcePullImage": false,
          "portMappings": [
              {"containerPort": {{ backups.port }}, "hostPort": {{ backups.port }}, "protocol":"tcp"}
          ]
      }
  },
  "cmd": "supervisord -c /opt/netsil/backups/supervisor/backups-supervisor-include.conf",
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "NETSIL_BUILD_BRANCH": "{{ netsil_build_branch }}",
    "NETSIL_VERSION_NUMBER": "{{ netsil_version_number }}",
    "NETSIL_COMMIT_HASH": "{{ netsil_commit_hash }}",
    "NETSIL_BUILD_NUMBER": "{{ netsil_build_number }}",
    "NETSIL_SERVICE_TAG": "{{ netsil_service_tag }}",
    "NETSIL_VERSION_TAG": "{{ netsil_version_tag }}",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "MYSQL_HOST": "{{ backups.mysql_host }}",
    "MYSQL_PORT": "{{ backups.mysql_port }}",
    "USER_PERSISTENCE_HOST": "{{ backups.user_persistence_host }}",
    "BUILD_ENV": "{{ backups.build_env }}"
  }
}
