{
 "id": "{{ druid-broker.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/druid-broker:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ druid-broker.druid_port }}, "hostPort": {{ druid-broker.druid_port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
    "NODE_TYPE": "broker",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "DEPLOY_ENV": "marathon",
    "druid_service": "{{ druid-broker.druid_service }}",
    "druid_port": "{{ druid-broker.druid_port }}",
    "druid_server_http_numThreads": "{{ druid-broker.druid_server_http_numThreads }}"
  },
  "healthChecks": [
    {
      "protocol": "COMMAND",
      "command": {
        "value": "curl 'http://$HOST:$PORT0/druid/broker/v1/loadstatus'|grep true"
      },
      "gracePeriodSeconds": 120,
      "intervalSeconds": 30,
      "timeoutSeconds": 20,
      "maxConsecutiveFailures": 2,
      "ignoreHttp1xx": false
    }
  ]
}
