{
 "id": "{{ druid-coordinator.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/druid-coordinator:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ druid-coordinator.druid_port }}, "hostPort": {{ druid-coordinator.druid_port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
    "NODE_TYPE": "coordinator",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "DEPLOY_ENV": "marathon",
    "druid_service": "{{ druid-coordinator.druid_service }}",
    "druid_port": "{{ druid-coordinator.druid_port }}",
    "druid_coordinator_load_timeout": "{{ druid-coordinator.druid_coordinator_load_timeout }}",
    "druid_coordinator_period": "{{ druid-coordinator.druid_coordinator_period }}"
  }
}
