{
  "id": "{{ elasticsearch.app_id }}",
  "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
         "containerPath": "es_data",
         "mode": "RW",
         "persistent": {
           "size": 100
         }
       },
       {
         "containerPath": "/usr/share/elasticsearch/data",
         "hostPath": "es_data",
         "mode": "RW"
       },
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/elasticsearch:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ elasticsearch.http_port }}, "hostPort": {{ elasticsearch.http_port }}, "protocol":"tcp"},
             {"containerPort": {{ elasticsearch.transport_port }}, "hostPort": {{ elasticsearch.transport_port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "instances": {{ instances }},
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  }
}
