{
 "id": "{{ ingestion-server.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/ingestion-server:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ ingestion-server.port }}, "hostPort": {{ ingestion-server.port }}, "protocol":"tcp"}
         ]
     }
 },
 "cpus": {{ cpus }},
 "mem": {{ mem }},
 "instances": {{ instances }},
 "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
 "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
 "env": {
   "PRODUCT_FLAVOR": "Pro",
   "KAFKA_SERVER": "{{ ingestion-server.kafka_server }}",
   "KAFKA_PORT": "{{ ingestion-server.kafka_port }}",
   "PYTHONUNBUFFERED": "{{ ingestion-server.pythonunbuffered }}",
   "ELASTICSEARCH_SERVER": "{{ ingestion-server.elasticsearch_server }}",
   "ELASTICSEARCH_PORT": "{{ ingestion-server.elasticsearch_port }}",
 {{#development}}
   "BUILD_ENV": "development",
 {{/development}}
 {{#production}}
   "BUILD_ENV": "production",
 {{/production}}
   "VALID_INDEX_NAMES": "{{ ingestion-server.valid_index_names }}",
   "USER_PERSISTENCE_SERVER_HOST": "{{ user_persistence_server_host }}",
   "USER_PERSISTENCE_SERVER_PORT": "{{ user_persistence_server_port }}"
 }
}
