{
  "id": "{{ license-manager.app_id }}",
  "container": {
      "type": "DOCKER",
      "volumes": [
        {
          "hostPath": "/var/log/netsil",
          "containerPath": "/var/log/netsil",
          "mode": "RW"
        },
        {
          "containerPath": "licenses",
          "mode": "RW",
          "persistent": {
            "size": 1
          }
        },
        {
          "containerPath": "/opt/netsil/license-manager/licenses",
          "hostPath": "licenses",
          "mode": "RW"
        }
      ],
      "docker": {
          "network": "BRIDGE",
          "image": "{{ uri_namespace }}/license-manager:{{ netsil_service_tag }}",
          "forcePullImage": false,
          "portMappings": [
              {"containerPort": {{ license-manager.port }}, "hostPort": {{ license-manager.port }}, "protocol":"tcp"}
          ]
      }
  },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
    "PRODUCT_FLAVOR": "Pro",
    "LICENSE_MANAGER_API_ENDPOINT": "{{ license-manager.endpoint }}",
    "LICENSE_MANAGER_SERVICE_PORT": "{{ license-manager.port }}",
    "REDIS_HOST": "{{ license-manager.redis_host }}",
    "REDIS_PORT": "{{ license-manager.redis_port }}",
    "NETSIL_SPLB_HOST": "{{ license-manager.splb_host }}",
    "NETSIL_SPLB_PORT": "{{ license-manager.splb_port }}",
    "URI_NAMESPACE": "{{ uri_namespace }}",
    "NETSIL_BUILD_BRANCH": "{{ netsil_build_branch }}",
    "NETSIL_VERSION_NUMBER": "{{ netsil_version_number }}",
    "NETSIL_COMMIT_HASH": "{{ netsil_commit_hash }}",
    "NETSIL_BUILD_NUMBER": "{{ netsil_build_number }}",
    "NETSIL_SERVICE_TAG": "{{ netsil_service_tag }}",
    "NETSIL_VERSION_TAG": "{{ netsil_version_tag }}",
    "BUILD_ENV": "{{ license-manager.build_env }}",
    "USER_PERSISTENCE_HOST": "{{ license-manager.user_persistence_host }}",
    "USER_PERSISTENCE_PORT": "{{ license-manager.user_persistence_port }}"
  },
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  }
}
