{
 "id": "{{ logstash.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/logstash:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ logstash.beats_port }}, "hostPort": {{ logstash.beats_port }}, "protocol":"tcp"},
             {"containerPort": {{ logstash.input_port }}, "hostPort": {{ logstash.input_port }}, "protocol":"udp,tcp"}
         ]
     }
 },
 "cpus": {{ cpus }},
 "mem": {{ mem }},
 "instances": {{ instances }},
 "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
 "env": {
    "ELASTICSEARCH_HOSTNAME": "{{ logstash.elasticsearch_hostname }}",
    "ELASTICSEARCH_HTTP_PORT": "{{ logstash.elasticsearch_http_port }}",
    "ZK_HOST": "{{ logstash.zk_host }}",
    "ZK_PORT": "{{ logstash.zk_port }}",
    "KAFKA_SERVER": "{{ logstash.kafka_server }}",
    "KAFKA_PORT": "{{ logstash.kafka_port }}"
 }
}
