{
  "id": "{{ metadata.app_id }}",
  "container": {
      "type": "DOCKER",
      "volumes": [
        {
          "hostPath": "/var/log/netsil",
          "containerPath": "/var/log/netsil",
          "mode": "RW"
        }
      ],
      "docker": {
          "network": "BRIDGE",
          "image": "{{ uri_namespace }}/metadata:{{ netsil_service_tag }}",
          "forcePullImage": false,
          "portMappings": [
              {"containerPort": 5444, "hostPort": {{ metadata.port }}, "protocol":"tcp"}
          ]
      }
  },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
    "PRODUCT_FLAVOR": "Pro",
    "DO_SCALE": "yes",
    "URI_NAMESPACE": "{{ uri_namespace }}",
    "NETSIL_BUILD_BRANCH": "{{ netsil_build_branch }}",
    "NETSIL_VERSION_NUMBER": "{{ netsil_version_number }}",
    "NETSIL_COMMIT_HASH": "{{ netsil_commit_hash }}",
    "NETSIL_BUILD_NUMBER": "{{ netsil_build_number }}",
    "NETSIL_SERVICE_TAG": "{{ netsil_service_tag }}",
    "NETSIL_VERSION_TAG": "{{ netsil_version_tag }}",
    "BUILD_ENV": "{{ metadata.build_env }}",
    "USER_PERSISTENCE_SERVER_HOST": "{{ user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ user_persistence_server_port }}"
  }
}
