{
 "id": "{{ netsil-zookeeper.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#netsil-zookeeper.production}}
       {
         "containerPath": "zk_data",
         "mode": "RW",
         "persistent": {
           "size": 500
         }
       },
       {
         "containerPath": "/opt/netsil/zookeeper/data",
         "hostPath": "zk_data",
         "mode": "RW"
       },
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/netsil-zookeeper.production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ netsil-zookeeper.uri_namespace }}/netsil-zookeeper:{{ netsil-zookeeper.netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": 2181, "hostPort": {{ netsil-zookeeper.port }}, "protocol":"tcp"}
         ]
     }
 },
  "acceptedResourceRoles": ["{{ netsil-zookeeper.role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
{{#netsil-zookeeper.private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/netsil-zookeeper.private}}
  "cpus": {{ netsil-zookeeper.cpus }},
  "mem": {{ netsil-zookeeper.mem }},
  "instances": {{ netsil-zookeeper.instances }},
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  }
}