{
 "id": "{{ redis.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
           "containerPath": "redis_data",
           "mode": "RW",
           "persistent": {
             "size": 1000
           }
       },
       {
           "containerPath": "/var/lib/redis",
           "hostPath": "redis_data",
           "mode": "RW"
       },
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/production}}
{{#development}}
       {
        "hostPath": "../tools/data-pipeline/redis",
        "containerPath": "/opt/netsil/redis",
        "mode": "RW"
       },
       {
        "hostPath": "../pro/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/development}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/redis:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ redis.port }}, "hostPort": {{ redis.port }}, "protocol":"tcp"}
         ]
     }
 },
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}"
{{/is_ha}}
  },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  }
}
