{
 "id": "{{ sp-load-balancer.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
        {
          "hostPath": "/var/log/netsil",
          "containerPath": "/var/log/netsil",
          "mode": "RW"
        },
        {
          "hostPath": "/var/tmp",
          "containerPath": "/var/tmp",
          "mode": "RW"
        }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/sp-load-balancer:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ sp-load-balancer.port }}, "hostPort": {{ sp-load-balancer.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cmd": ". /root/netsil-proxy/exports.sh && /root/netsil-proxy/startup.sh && supervisord -c /opt/netsil/netsil-proxy/tools/netsil-proxy/supervisor/netsil-proxy-supervisor-include.conf",
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "upgradeStrategy" : {
      "minimumHealthCapacity" : {{ sp-load-balancer.min_health }},
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "LOAD_BALANCE_AOC_SP": "{{ sp-load-balancer.load_balance_aoc_sp }}",
    "DO_SCALE": "{{ sp-load-balancer.do_scale }}",
    "PRODUCT_FLAVOR": "Pro",
    "DRUID_HOST": "{{ sp-load-balancer.druid_host }}",
    "DRUID_PORT": "{{ sp-load-balancer.druid_port }}",
    "USER_PERSISTENCE_SERVER_HOST": "{{ user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ user_persistence_server_port }}",
  {{#development}}
    "BUILD_ENV": "development",
  {{/development}}
  {{#production}}
    "BUILD_ENV": "production",
  {{/production}}
    "PYTHON_SERVICE": "sp_load_balancer_service"
  }
}
