{
 "id": "{{ sp-load-balancer.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
        {
          "hostPath": "/var/log/netsil",
          "containerPath": "/var/log/netsil",
          "mode": "RW"
        },
        {
          "hostPath": "/var/tmp",
          "containerPath": "/var/tmp",
          "mode": "RW"
        }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ sp-load-balancer.uri_namespace }}/sp-load-balancer:{{ sp-load-balancer.netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ sp-load-balancer.port }}, "hostPort": {{ sp-load-balancer.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cmd": ". /root/netsil-proxy/exports.sh && /root/netsil-proxy/startup.sh && supervisord -c /opt/netsil/netsil-proxy/tools/netsil-proxy/supervisor/netsil-proxy-supervisor-include.conf",
  "cpus": {{ sp-load-balancer.cpus }},
  "mem": {{ sp-load-balancer.mem }},
  "instances": {{ sp-load-balancer.instances }},
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#sp-load-balancer.private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/sp-load-balancer.private}}
  "env": {
    "DO_SCALE": "yes",
    "PRODUCT_FLAVOR": "Pro",
    "DRUID_HOST": "{{ sp-load-balancer.druid_host }}",
    "DRUID_PORT": "{{ sp-load-balancer.druid_port }}",
    "SQL_HOST": "{{ sp-load-balancer.sql_host }}",
    "SQL_PORT": "{{ sp-load-balancer.sql_port }}",
    "USER_PERSISTENCE_SERVER_HOST": "{{ sp-load-balancer.user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ sp-load-balancer.user_persistence_server_port }}",
  {{#sp-load-balancer.development}}
    "BUILD_ENV": "development",
  {{/sp-load-balancer.development}}
  {{#sp-load-balancer.production}}
    "BUILD_ENV": "production",
  {{/sp-load-balancer.production}}
    "PYTHON_SERVICE": "sp_load_balancer_service"
  }
}
