{
 "id": "{{ stream-processor.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       },
       {
        "hostPath": "/etc/netsil/conf",
        "containerPath": "/etc/netsil/conf",
        "mode": "RW"
       },
       {
        "hostPath": "/",
        "containerPath": "/outer_host",
        "mode": "RW"
       },
       {
        "hostPath": "/var/tmp",
        "containerPath": "/var/tmp",
        "mode": "RW"
       }
{{/production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/stream-processor:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "privileged": true,
         "portMappings": [
             {"containerPort": {{ stream-processor.infra_stats_port }}, "hostPort": {{ stream-processor.infra_stats_port }}, "protocol":"tcp"},
             {"containerPort": {{ stream-processor.traffic_stats_port }}, "hostPort": {{ stream-processor.traffic_stats_port }}, "protocol":"udp,tcp"},
             {"containerPort": {{ stream-processor.traffic_stats_port_alt }}, "hostPort": {{ stream-processor.traffic_stats_port_alt }}, "protocol":"tcp"},
             {"containerPort": {{ stream-processor.api_server_port }}, "hostPort": {{ stream-processor.api_server_port }}, "protocol":"tcp"}
         ]
     }
 },
  "cmd": ". /root/stream-processor/exports.sh && /root/stream-processor/startup.sh && supervisord -c /opt/netsil/stream-processor/supervisor/stream-processor-supervisor-include.conf",
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
    "DO_SCALE": "yes",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "DEPLOY_ENV": "{{ stream-processor.deploy_env }}",
    "ZK_HOST": "{{ stream-processor.zk_host }}",
    "ZK_PORT": "{{ stream-processor.zk_port }}",
    "NETSIL_EVENTS_HOST": "{{ stream-processor.netsil_events_host }}",
    "NETSIL_EVENTS_PORT": "{{ stream-processor.netsil_events_port }}",
  {{#development}}
    "BUILD_ENV": "development",
  {{/development}}
  {{#production}}
    "BUILD_ENV": "production",
  {{/production}}
    "USER_PERSISTENCE_SERVER_HOST": "{{ user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ user_persistence_server_port }}"
  }
}
