{
 "id": "{{ time-series-query-service.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
        {
          "hostPath": "/var/tmp",
          "containerPath": "/var/tmp",
          "mode": "RW"
        }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/time-series-query-service:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [{
             "containerPort": {{ time-series-query-service.port }},
             {{#is_ha}}
             "hostPort": 0,
             {{/is_ha}}
             {{^is_ha}}
             "hostPort": {{ time-series-query-service.port }},
             {{/is_ha}}
             {{#is_ha}}
             "servicePort": {{ time-series-query-service.service_port }},
             {{/is_ha}}
             "protocol":"tcp"
         }]
     }
 },
  "cmd": ". /root/netsil-proxy/exports.sh && /root/netsil-proxy/startup.sh && supervisord -c /opt/netsil/netsil-proxy/tools/netsil-proxy/supervisor/netsil-proxy-supervisor-include.conf",
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : {{ time-series-query-service.min_health }},
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
{{#is_ha}}
  "labels": {
    "HAPROXY_GROUP": "internal"
  },
{{/is_ha}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "DO_SCALE": "yes",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "DRUID_HOST": "{{ time-series-query-service.druid_host }}",
    "DRUID_PORT": "{{ time-series-query-service.druid_port }}",
    "SQL_HOST": "{{ time-series-query-service.sql_host }}",
    "SQL_PORT": "{{ time-series-query-service.sql_port }}",
    "USER_PERSISTENCE_SERVER_HOST": "{{ user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ user_persistence_server_port }}",
    "ELASTICSEARCH_SERVER": "{{ time-series-query-service.elasticsearch_server }}",
    "ELASTICSEARCH_PORT" : "{{ time-series-query-service.elasticsearch_port }}",
  {{#development}}
    "BUILD_ENV": "development",
  {{/development}}
  {{#production}}
    "BUILD_ENV": "production",
  {{/production}}
    "PYTHON_SERVICE": "time_series_query_service"
  }
}
