{
  "id": "{{ topology-service.app_id }}",
  "container": {
      "type": "DOCKER",
      "volumes": [
        {
          "hostPath": "/var/tmp",
          "containerPath": "/var/tmp",
          "mode": "RW"
        }
      ],
      "docker": {
          "network": "BRIDGE",
          "image": "{{ uri_namespace }}/topology-service:{{ netsil_service_tag }}",
          "forcePullImage": false,
          "portMappings": [{
              "containerPort": {{ topology-service.port }},
             {{#is_ha}}
             "hostPort": 0,
             {{/is_ha}}
             {{^is_ha}}
             "hostPort": {{ topology-service.port }},
             {{/is_ha}}
             {{#is_ha}}
             "servicePort": {{ topology-service.service_port }},
             {{/is_ha}}
              "protocol":"tcp"
          }]
      }
  },
  "cmd": ". /root/netsil-proxy/exports.sh && /root/netsil-proxy/startup.sh && supervisord -c /opt/netsil/netsil-proxy/tools/netsil-proxy/supervisor/netsil-proxy-supervisor-include.conf",
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : {{ topology-service.min_health }},
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
{{#is_ha}}
  "labels": {
    "HAPROXY_GROUP": "internal"
  },
{{/is_ha}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "DO_SCALE": "yes",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "TIME_SERIES_ENDPOINT_HOST": "{{ topology-service.time_series_endpoint_host }}",
    "TIME_SERIES_ENDPOINT_PORT": "{{ topology-service.time_series_endpoint_port }}",
    "USER_PERSISTENCE_SERVER_HOST": "{{ topology-service.user_persistence_server_host }}",
    "USER_PERSISTENCE_SERVER_PORT": "{{ topology-service.user_persistence_server_port }}",
  {{#development}}
    "BUILD_ENV": "development",
  {{/development}}
  {{#production}}
    "BUILD_ENV": "production",
  {{/production}}
    "PYTHON_SERVICE": "topology_service"
  }
}
