{
 "id": "{{ user-persistence.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#production}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/user-persistence:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ user-persistence.port }}, "hostPort": {{ user-persistence.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "NETSIL_USER_PERSISTENCE_VERSION": "{{ netsil_user_persistence_version }}",
    "PRODUCT_FLAVOR": "{{ product_flavor }}",
    "REDIS_HOST": "{{ user-persistence.redis_host }}",
    "REDIS_PORT": "{{ user-persistence.redis_port }}",
    "NODEJS_ENV": "{{ user-persistence.nodejs_env }}",
    "USER_DB_HOST": "{{ user-persistence.user_db_host }}",
    "USER_DB_PORT": "{{ user-persistence.user_db_port }}",
    "MYSQL_ROOT_PASSWORD": "epoch2391",
    "MYSQL_DATABASE": "netsil",
    "MYSQL_ALLOW_EMPTY_PASSWORD": "no",
    "MYSQL_USER": "netsil",
    "MYSQL_PASSWORD": "epoch2391",
    "LICENSE_MANAGER_SERVICE_HOST": "{{ user-persistence.license_manager_service_host }}",
    "LICENSE_MANAGER_SERVICE_PORT": "{{ user-persistence.license_manager_service_port }}"
  }
}
