{
 "id": "{{ user-db.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{^is_ha}}
       {
         "containerPath": "mysqldata",
         "mode": "RW",
         "persistent": {
           "size": 1000
         }
       },
       {
         "containerPath": "/var/lib/mysql",
         "hostPath": "mysqldata",
         "mode": "RW"
       },
{{/is_ha}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ uri_namespace }}/user-db:{{ netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ user-db.port }}, "hostPort": {{ user-db.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ cpus }},
  "mem": {{ mem }},
  "instances": {{ instances }},
  "acceptedResourceRoles": ["{{ role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : {{ user-db.min_health }},
      "maximumOverCapacity" : 0
  },
{{#private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/private}}
{{^is_ha}}
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  },
{{/is_ha}}
  "env": {
{{#is_ha}}
    "IS_HA": "{{ is_ha }}",
{{/is_ha}}
    "MYSQL_ALLOW_EMPTY_PASSWORD": "yes",
    "DO_SCALE": "{{ user-db.do_scale }}"
  }
}
