{
 "id": "{{ user-db.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
       {
         "containerPath": "mysqldata",
         "mode": "RW",
         "persistent": {
           "size": 1000
         }
       },
       {
         "containerPath": "/var/lib/mysql",
         "hostPath": "mysqldata",
         "mode": "RW"
       },
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ user-db.uri_namespace }}/user-db:{{ user-db.netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ user-db.port }}, "hostPort": {{ user-db.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ user-db.cpus }},
  "mem": {{ user-db.mem }},
  "instances": {{ user-db.instances }},
  "acceptedResourceRoles": ["{{ user-db.role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#user-db.private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/user-db.private}}
  "env": {
    "MYSQL_ALLOW_EMPTY_PASSWORD": "yes"
  },
  "residency": {
    "taskLostBehavior": "WAIT_FOREVER"
  }
}