{
 "id": "{{ user-persistence.app_id }}",
 "container": {
     "type": "DOCKER",
     "volumes": [
{{#user-persistence.production}}
       {
        "hostPath": "/var/log/netsil",
        "containerPath": "/var/log/netsil",
        "mode": "RW"
       }
{{/user-persistence.production}}
     ],
     "docker": {
         "network": "BRIDGE",
         "image": "{{ user-persistence.uri_namespace }}/user-persistence:{{ user-persistence.netsil_service_tag }}",
         "forcePullImage": false,
         "portMappings": [
             {"containerPort": {{ user-persistence.port }}, "hostPort": {{ user-persistence.port }}, "protocol":"tcp"}
         ]
     }
 },
  "cpus": {{ user-persistence.cpus }},
  "mem": {{ user-persistence.mem }},
  "instances": {{ user-persistence.instances }},
  "acceptedResourceRoles": ["{{ user-persistence.role }}"],
  "constraints": [
      ["hostname", "UNIQUE"]
  ],
  "upgradeStrategy" : {
      "minimumHealthCapacity" : 0,
      "maximumOverCapacity" : 0
  },
{{#user-persistence.private}}
  "uris": ["file:///etc/docker.tar.gz"],
{{/user-persistence.private}}
  "env": {
    "PRODUCT_FLAVOR": "{{ user-persistence.product_flavor }}",
    "REDIS_HOST": "{{ user-persistence.redis_host }}",
    "REDIS_PORT": "{{ user-persistence.redis_port }}",
    "NODEJS_ENV": "{{ user-persistence.nodejs_env }}",
    "USER_DB_HOST": "{{ user-persistence.user_db_host }}",
    "USER_DB_PORT": "{{ user-persistence.user_db_port }}",
    "MYSQL_ROOT_PASSWORD": "epoch2391",
    "MYSQL_DATABASE": "netsil",
    "MYSQL_ALLOW_EMPTY_PASSWORD": "no",
    "MYSQL_USER": "netsil",
    "MYSQL_PASSWORD": "epoch2391"
  }
}