---
agent_list:
  - {{ ansible_default_ipv4.address }}
bootstrap_url: file://{{ ansible_env.PWD }}/genconf/serve
cluster_name: netsil-cluster
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_discovery: static
master_list:
  - {{ ansible_default_ipv4.address }}
ssh_port: 22
ssh_user: {{ ansible_user }}
oauth_enabled: 'false'
telementry_enabled: 'false'
