---
agent_list:
{% if ansible_default_ipv4.address is defined %}
 - {{ ansible_default_ipv4.address }}
{% else %}
  - {{ ansible_eth0.ipv4.address }}
{% endif %}
bootstrap_url: file://{{ ansible_env.PWD }}/genconf/serve
cluster_name: netsil-cluster
exhibitor_storage_backend: static
ip_detect_filename: /genconf/ip-detect
master_discovery: static
master_list:
{% if ansible_default_ipv4.address is defined %}
 - {{ ansible_default_ipv4.address }}
{% else %}
  - {{ ansible_eth0.ipv4.address }}
{% endif %}
ssh_port: 22
ssh_user: {{ ansible_user }}
oauth_enabled: 'false'
telementry_enabled: 'false'
{% if dns_resolvers %}
resolvers:
{% for resolver in dns_resolvers %}
  - {{ resolver }}
{% endfor %}
{% endif %}

