{
  "druid-broker": {
    "app_id": "druid-broker",
    "druid_service": "druid-broker",
    "druid_port": "31004",
    "min_health": 0,
    "collect_druid_metrics": "no"
  },
{% extends "common.json.j2" %}
{% block common_params %}
{{ super() }}
}
{% endblock %}
