{
  "druid-realtime": {
    "app_id": "druid-realtime",
    "druid_service": "druid-realtime",
    "druid_port": "31000",
    "druid_realtime_specFile": "/opt/netsil/druid/druid_build/realtime.spec",
    "druid_server_http_numThreads": "20"
  },
{% extends "common.json.j2" %}
{% block common_params %}
{{ super() }}
}
{% endblock %}
