{
  "druid-coordinator": {
    "app_id": "druid-coordinator",
    "druid_service": "druid-coordinator",
    "druid_port": "31001",
    "druid_coordinator_load_timeout": "PT30S",
    "druid_coordinator_period": "PT60S"
  },
{% extends "common.json.j2" %}
{% block common_params %}
{{ super() }}
}
{% endblock %}
