{
  "ingestion-server": {
    "app_id": "ingestion-server",
    "port": 5000,
    "kafka_server": "kafka.marathon.mesos",
    "kafka_port": 9092,
    "pythonunbuffered": 0,
    "elasticsearch_server": "elasticsearch.marathon.mesos",
    "elasticsearch_port": 9200,
    "valid_index_names": "events,notifications",
{% extends "common.json.j2" %}
{% block common_params %}
    {{ super() }}
  }
}
{% endblock %}
