{
  "metadata": {
    "app_id": "metadata",
    "build_env": "{{ build_env }}",
    "port": 5444,
    "min_health": 0
  },
{% extends "common.json.j2" %}
{% block common_params %}
{{ super() }}
}
{% endblock %}
