{
  "time-series-query-service": {
    "app_id": "time-series-query-service",
    "port": 9047,
    "druid_host": "druid-broker.marathon.mesos",
    "druid_port": "31004",
    "sql_host": "stream-processor.marathon.mesos",
    "sql_port": "8888",
    "user_persistence_server_host": "user-persistence.marathon.mesos",
    "user_persistence_server_port": "8891",
    "elasticsearch_server": "elasticsearch.marathon.mesos",
    "elasticsearch_port": "9200",
{% extends "common.json.j2" %}
{% block common_params %}
    {{ super() }}
  }
}
{% endblock %}