{
  "user-persistence": {
    "app_id": "user-persistence",
    "port": 8891,
    "redis_host": "redis.marathon.mesos",
    "redis_port": 6379,
    "user_db_host": "user-db.marathon.mesos",
    "user_db_port": "3306",
    "nodejs_env": "NODE_ENV={{ build_env }}",
{% extends "common.json.j2" %}
{% block common_params %}
    {{ super() }}
  }
}
{% endblock %}