[Unit]
Description=Install netsil apps in marathon

[Service]
Type=oneshot
# manage-netsil-apps.sh has proper restart logic
# ExecStart=/opt/netsil/latest/bin/manage-netsil-apps.sh install
ExecStart={{ ansible_python_interpreter }} /opt/netsil/latest/bin/install-netsil-apps.py

[Install]
WantedBy=multi-user.target
