[Unit]
Description=Install netsil apps in marathon

[Service]
Type=oneshot
Environment=IS_HA={{ is_ha}}
ExecStart={{ ansible_python_interpreter }} /opt/netsil/latest/bin/install-netsil-apps.py

[Install]
WantedBy=multi-user.target
